* {
  margin: 0;
  padding: 0;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

html {
  font-size: 62.5%;
  box-sizing: border-box;
}

body {
  font-size: 1.6rem;
  background: #000;
  color: #00f2f3;
  padding-left: 1.5rem;
  padding-right: 1.5rem;
  font-family: 'Audiowide', cursive;
}

@media screen and (max-width: 760px) {
  html {
    font-size: 60%;
  }
}

@media screen and (max-width: 720px) {
  html {
    font-size: 58%;
  }
}
